body {
	font-family: helvetica, sans-serif;
	margin: 0;
}

h1 {
	display: flex;
	justify-content: center;	
}

.img-full {
	width: 100vw;
	margin: 1px 0;
}

table, th, td {
	border: 1px solid #999;
}

#menuBar {
	display: flex;
	justify-content: space-around;
	border-top: 3px solid #00008B;
	border-bottom: 3px solid #00008B;
}